/* this is a comment */

body {
 background-color: #2fde;
  max-width: 500px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

p {
  line-height: 20px;
}
.cont
{
   width: 100%;  
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 0px 50px -20px;
}
h1 {
  font-style: italic;
  text-transform: uppercase;
}

#my-header {
  color: #660000;
}

#first-paragraph {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #000000;
}

#second-paragraph {
  border-style: dashed;
  border-width: 2px;
  border-color: #000000;
}

.even {
 font-style: italic;
}

.odd {
  color: red;
}
